<nz-layout>
  <nz-header class="header">
    <div class="header__container">
      <div class="header__logo">
        <img src="./assets/logo.svg" alt="logo" />
        <h1>Issue Helper</h1>
      </div>
      <div class="header__locale">
        <button nz-button nzSize="small" (click)="changeLang()">{{ lang === 'en' ? '中文' : 'English' }}</button>
      </div>
    </div>
  </nz-header>
  <nz-content class="content" click-link>
    <div [innerHTML]="local['md-intro'] | html"></div>
    <app-form [l]="local"></app-form>
  </nz-content>
  <nz-footer style="text-align: center;">
    <a href="https://github.com/ng-alain/issue-helper" target="_blank"><i nz-icon nzType="github"></i></a>
  </nz-footer>
</nz-layout>
